<div class="card col-md-3 login-form">

  <form (ngSubmit)="onSubmit()" class="card-body mb-2">
    <div class="justify-content-center">
      <img src="./assets/Seed.png" alt="BotaniQ logo">
      <h3>BontaniQ</h3>
    </div>
    <div class="form-group mb-2">
      <label for="email">Email</label>
      <input [(ngModel)]="emailAddress" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group mb-2">
      <label for="password">Password</label>
      <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success ">Login</button>
    </div>
  </form>
</div>
