<div *ngIf="trackers" class="card">
    <div class="card-body">
        <h3>{{plant}}'s care log </h3>
        <table class="table">
            <tbody>
            <tr *ngFor="let care of trackers">
                <td routerLink="careTracker">
<!--                    <span *ngIf="care[1]; else notDoneIcon"></span>-->
                    <i *ngIf="care[1]; else notDoneIcon" class="bi bi-patch-check text-success"></i>
                    <ng-template #notDoneIcon>❌</ng-template>
                    {{care[2]}} - {{care[0]}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div *ngIf="trackers == null" class="card">
    <div class="card-body">
        <h3>Log still empty</h3>
    </div>
</div>
