<div class="col garden-form card">
    <form (ngSubmit)="onSubmit()" class="needs-validation card-body" novalidate>
        <h5>Register a Care Type</h5>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="plantName">Care to be provided</label>
                <input [(ngModel)]="type" [ngModelOptions]="{standalone: true}"
                       type="text" class="form-control" id="plantName" placeholder="E.g., Watering, Trimming..."
                       required>
                <div class="invalid-feedback">
                    Please provide a type of care to help track the care provided to your garden.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="frequency">Frequency</label>
                <input [(ngModel)]="frequency" [ngModelOptions]="{standalone: true}"
                       type="text" class="form-control" id="frequency" placeholder="E.g., Daily, Once a Month..."
                       required>
<!--                <select [(ngModel)]="frequency" [ngModelOptions]="{standalone: true}" id="frequency" class="form-control custom-select custom-select-lg mb-3" required>-->
<!--                    <option value="daily">Daily</option>-->
<!--                    <option value="1x week">1x week</option>-->
<!--                    <option value="2x month">1x month</option>-->
<!--                    <option value="1x month">1x month</option>-->
<!--                </select>-->
                <div class="invalid-feedback">
                    Please provide a type to help identify and manage your garden.
                </div>
            </div>
        </div>
        <button class="btn btn-outline-success" type="submit">Save</button>
    </form>
</div>

<!--ToDo add directives to handle eventlistener-->
<!--<script>-->
<!--  // Example starter JavaScript for disabling form submissions if there are invalid fields-->
<!--  (function() {-->
<!--    'use strict';-->
<!--    window.addEventListener('load', function() {-->
<!--      // Fetch all the forms we want to apply custom Bootstrap validation styles to-->
<!--      var forms = document.getElementsByClassName('needs-validation');-->
<!--      // Loop over them and prevent submission-->
<!--      var validation = Array.prototype.filter.call(forms, function(form) {-->
<!--        form.addEventListener('submit', function(event) {-->
<!--          if (form.checkValidity() === false) {-->
<!--            event.preventDefault();-->
<!--            event.stopPropagation();-->
<!--          }-->
<!--          form.classList.add('was-validated');-->
<!--        }, false);-->
<!--      });-->
<!--    }, false);-->
<!--  })();-->
<!--</script>-->

