<div class="col garden-form card">
    <form (ngSubmit)="onSubmit()" class="needs-validation card-body" novalidate>
        <h5>Add a new plant to your garden</h5>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="plantName">Name</label>
                <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
                       type="text" class="form-control" id="plantName" placeholder="E.g., Sunflower, Cucumber, Parsley..."
                       required>
                <div class="invalid-feedback">
                    Please provide a name to help identify and manage your garden.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="plantType">Type</label>
                <input [(ngModel)]="type" [ngModelOptions]="{standalone: true}"
                       type="text" class="form-control" id="plantType" placeholder="E.g., Flower, Vegetable, Herb..."
                       required>
                <div class="invalid-feedback">
                    Please provide a type to help identify and manage your garden.
                </div>
            </div>
        </div>
        <button class="btn btn-outline-success" type="submit">Save</button>
    </form>
</div>

<!--ToDo add directives to handle eventlistener-->
<!--<script>-->
<!--  // Example starter JavaScript for disabling form submissions if there are invalid fields-->
<!--  (function() {-->
<!--    'use strict';-->
<!--    window.addEventListener('load', function() {-->
<!--      // Fetch all the forms we want to apply custom Bootstrap validation styles to-->
<!--      var forms = document.getElementsByClassName('needs-validation');-->
<!--      // Loop over them and prevent submission-->
<!--      var validation = Array.prototype.filter.call(forms, function(form) {-->
<!--        form.addEventListener('submit', function(event) {-->
<!--          if (form.checkValidity() === false) {-->
<!--            event.preventDefault();-->
<!--            event.stopPropagation();-->
<!--          }-->
<!--          form.classList.add('was-validated');-->
<!--        }, false);-->
<!--      });-->
<!--    }, false);-->
<!--  })();-->
<!--</script>-->

