<div class="card" *ngIf="plant">
    <div class="card-body">
        <h5 class="card-title">{{plant.name}}</h5>
        <div class="row">
            <div class="col-9">
                <p class="card-text">
                    Type: {{plant.type}}
                </p>
                <p class="card-text" >
                    <span *ngFor="let care of plant.careTypeList">{{care.type}} - {{care.frequency}}</span>
                </p>
                <button routerLink="/auth/newCareType/{{plant.id}}" type="button" class="btn btn-outline-success me-2" placement="top" ngbTooltip="Add any care you plant might need.">
                    Add Care
                </button>
            </div>
            <div class="col-2">
                <img class="card-img-right" src="https://imgs.search.brave.com/liDtfpW0vmrIwSARoBx131-ePyxnFEujbtAjYczRfzE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9ib25u/aWVwbGFudHMuY29t/L2Nkbi9zaG9wL2Fy/dGljbGVzLzMtdHlw/ZXMtb2YtYmFzaWwt/aW4tcG90LXdlYl80/ZDllZDM5Zi1kM2Rj/LTRlY2EtOTBiNC0x/NjNiZDgwMjYxMzUu/anBnP3Y9MTY0MjU0/MTYyMSZ3aWR0aD0x/MDAw" alt="Card image cap">
            </div>
        </div>
    </div>
</div>

