<div class="card card-body">
  <div class="row">
    <app-add-garden-icon></app-add-garden-icon>
    <h5 class="text-center">Gardens</h5>
  </div>

  <div class="list-group col-sm-12 col-md-8 garden-list" *ngIf="gardenList">
    <a routerLink="/auth/garden/{{garden.id}}" *ngFor="let garden of gardenList" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      {{garden.description}}
      <span class="badge bg-success-subtle text-black rounded-pill">{{garden.plantList.length}} 🌱</span>
    </a>
  </div>

  <div *ngIf="!gardenList || gardenList.length === 0">
    <p>You don't have any virtual gardens yet. <br>
      Let's <a routerLink="/auth/newGarden">create one</a> now?</p>
  </div>
</div>

