:root {
  --forest-shadow: #1d261f;
  --deep-forest: #4E6852;
  --leaf-green: #6B9066;
  --mint: #8CAE91;
  --sage: #B5D1AB;
  --light-leaf: #C3DEBE;
  --green-title: #BDCFB2;
}

body{
  background-image: url('/assets/background_artwork.png');
  background-size: cover;
}

@media screen and (max-width: 580px) {
  body{
    background-size: 135%;
  }
}
/**
  Styling card content
 */
.card {
  background-color: var(--deep-forest);
  margin: 15px auto;
}
h3, label, h5, p{
  color: var(--green-title);
}

/**
  Styling popover
 */
.popover-header {
  background-color: #889B8A;
}

/**
  Styling button
 */
.btn-success{
  background-color: #6B9066;
  border-color: #567959;
  box-shadow: 1px 3px 4px -1px rgba(0,0,0,0.75);
}
.btn-success:hover{
  background-color: #6B9066;
  border-color: #567959;
  transform: scale(1.04);
}
