<div class="row">
  <div class="col-sm-auto list-group menu">
      <button routerLink="" type="button" class="list-group-item list-group-item-action" >Login</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>Update a user's profile</button>
      <button routerLink="newGarden" type="button" class="list-group-item list-group-item-action" >Create a garden</button>
      <button routerLink="garden" type="button" class="list-group-item list-group-item-action" >See the garden and its plant list</button>
      <button routerLink="updateGarden" type="button" class="list-group-item list-group-item-action" disabled>Update garden information</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>Create and add a plant to a garden</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>View plant details of a given garden</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>Create care types and frequency</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>Register plant care</button>
  </div>
  <div class="col">
      <h2 *ngIf="userName" >Hey, {{userName}}!</h2>
      <h2 *ngIf="!userName">Hey!</h2>
      <router-outlet></router-outlet>
  </div>
</div>

