<div class="row">
  <div class="col-sm-auto list-group menu">
      <button routerLink="" type="button" class="list-group-item list-group-item-action" >Login</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>View user's profile</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>Update a user's profile</button>
      <button routerLink="newGarden" type="button" class="list-group-item list-group-item-action" >Create a Garden</button>
      <button routerLink="garden" type="button" class="list-group-item list-group-item-action" >View Gardens</button>
  </div>
  <div class="col">
      <router-outlet></router-outlet>
  </div>
</div>

