p {
  background-color: rgba(78, 104, 82, 1);
  width: fit-content;
  padding: 5px 20px;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #EDEEED;
  text-shadow: var(--forest-shadow) 0 0 4px;
}
